{% extends "base.html" %}
{% load static %}
{% block body %}
<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="">
            <div class=" text-center">
                <h2 class="section-heading ">This Page Does Not Exist</h2>
                <h3 class="section-subheading text-muted">
                    <br/>
                    <a class="section-heading text-muted" href="/">Go To The Homepage</a>
                </h3>

            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</section>
{% endblock %}