{% extends "base.html" %}
{% load static %}
{% block body %}




<!-- Spritzer Grid -->
<section class="bg-light" id="spritzer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading ">Wine Coolers / Spritzers</h2>
                                <h3 class="section-subheadingstrong ">Why be bitter when you can be sweet</h3>
                <h3 class="section-subheading text-muted">
                    Unpretentious and preserving the tradition of wine coolers/spritzer
                    without the addition of any other alcohol / neutral spirit.
                    <p/>
                    Wine coolers/Spritzers are about taste and longer lasting drinking enjoyment with variations in the flavours.
                </h3>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-item-margin">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static '/img/spritzers/sangria.PNG'%}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Sangria</h4>
                        <!--<p class="text-muted">Taste Here</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-item-margin">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static '/img/spritzers/caribe.PNG'%}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Caribe Crush</h4>
                        <!--<p class="text-muted">Taste Here</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-item-margin">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static '/img/spritzers/pomegranate.PNG'%}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Pomegranate</h4>
                        <!--<p class="text-muted">Taste Here</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-item-margin">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static '/img/spritzers/strawberry.PNG'%}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Strawberry Diaquiri</h4>
                        <!--<p class="text-muted">Taste Here</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-item-margin">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static '/img/spritzers/cucumint.PNG'%}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Cucumint Cooler</h4>
                        <!--<p class="text-muted">Taste Here</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-item-margin">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static '/img/spritzers/vinocolada.PNG'%}" alt="hello">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Vino Colada</h4>
                        <!--<p class="text-muted">Taste Here</p>-->
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-item-margin">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal7">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static '/img/spritzers/apple.PNG'%}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Apple and Cranberry</h4>
                        <!--<p class="text-muted">Taste Here</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-item-margin">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal8">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{% static '/img/spritzers/mandarin.PNG'%}" alt="hello">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Sweet Orange and Mandarin</h4>
                        <!--<p class="text-muted">Taste Here</p>-->
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
<div class="section-line-parent container">
    <div class="section-line"></div>
</div>


{% endblock %}
{% block afterfooter %}

<!-- Portfolio Modals -->
<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="">Sangria</h2>
                            <!--<p class="item-intro text-muted">Taste Here</p>-->
                            <img class="img-fluid d-block mx-auto" src="{% static '/img/spritzers/sangriafull.PNG'%}"
                                 alt="">
                            <p></p><!--<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>-->
                            <ul class="list-inline">
                                <!--<li>Date: January 2017</li>
                                <li>Alcohol: 30%</li>
                                <li>Category: Red</li>-->
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Go Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="">Caribe Crush</h2>
                            <!--<p class="item-intro text-muted">Taste Here</p>-->
                            <img class="img-fluid d-block mx-auto" src="{% static '/img/spritzers/caribefull.PNG'%}"
                                 alt="">
                            <p></p><!--<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>-->
                            <ul class="list-inline">
                                <!--<li>Date: January 2017</li>
                                <li>Alcohol: 30%</li>
                                <li>Category: Red</li>-->
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Go Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="">Pomegranate</h2>
                            <!--<p class="item-intro text-muted">Taste Here</p>-->
                            <img class="img-fluid d-block mx-auto"
                                 src="{% static '/img/spritzers/pomegranatefull.PNG'%}"
                                 alt="">
                            <p></p><!--<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>-->
                            <ul class="list-inline">
                                <!--<li>Date: January 2017</li>
                                <li>Alcohol: 30%</li>
                                <li>Category: Red</li>-->
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Go Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="">Strawberry Diaquiri</h2>
                            <!--<p class="item-intro text-muted">Taste Here</p>-->
                            <img class="img-fluid d-block mx-auto" src="{% static '/img/spritzers/strawberryfull.PNG'%}"
                                 alt="">
                            <p></p><!--<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>-->
                            <ul class="list-inline">
                                <!--<li>Date: January 2017</li>
                                <li>Alcohol: 30%</li>
                                <li>Category: Red</li>-->
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Go Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="">Cucumint Cooler</h2>
                            <!--<p class="item-intro text-muted">Taste Here</p>-->
                            <img class="img-fluid d-block mx-auto" src="{% static '/img/spritzers/cucumintfull.PNG'%}"
                                 alt="">
                            <p></p><!--<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>-->
                            <ul class="list-inline">
                                <!--<li>Date: January 2017</li>
                                <li>Alcohol: 30%</li>
                                <li>Category: Red</li>-->
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Go Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="">Vino Colada</h2>
                            <!--<p class="item-intro text-muted">Taste Here</p>-->
                            <img class="img-fluid d-block mx-auto" src="{% static '/img/spritzers/vinocoladafull.PNG'%}"
                                 alt="">
                            <p></p><!--<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>-->
                            <ul class="list-inline">
                                <!--<li>Date: January 2017</li>
                                <li>Alcohol: 30%</li>
                                <li>Category: Red</li>-->
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Go Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 7 -->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="">Apple and Cranberry</h2>
                            <!--<p class="item-intro text-muted">Taste Here</p>-->
                            <img class="img-fluid d-block mx-auto" src="{% static '/img/spritzers/applefull.PNG'%}"
                                 alt="">
                            <p></p><!--<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>-->
                            <ul class="list-inline">
                                <!--<li>Date: January 2017</li>
                                <li>Alcohol: 30%</li>
                                <li>Category: Red</li>-->
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Go Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 8 -->
<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="">Sweet Orange and Mandarin</h2>
                            <!--<p class="item-intro text-muted">Taste Here</p>-->
                            <img class="img-fluid d-block mx-auto"
                                 src="{% static '/img/spritzers/mandarinfull.PNG'%}"
                                 alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos
                                deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores
                                repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <!--<li>Date: January 2017</li>
                                <li>Alcohol: 30%</li>
                                <li>Category: Red</li>-->
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Go Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}