{% extends "base.html" %}
{% load static %}
{% block body %}


<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="">

            <div class=" text-center">


                <h2 class="section-heading ">About Us</h2>
                <h3 class="section-subheading text-muted">
                    Bringing quality from all over the globe to suit the Indian
                    palate. Our aim is to bring these products
                    which are
                    the result of good wine making Philosophy and ethics to every person who wants to appreciate good
                    taste and
                    relish the unexplainable pleasure of drinking quality wine. This we aim to do at an affordable and
                    reasonable
                    price despite the otherwise unaffordable superior quality we deliver.
                    <br/>
                    <br/>
                    <br/>
                    Our range of Wine Coolers and Spritzers are unpretentious. Wine Coolers and Spritzers are wine mixed
                    with fruit
                    juices /flavours traditionally and we aim to maintain the tradition without adding any extra alcohol
                    /neutral
                    spirit of any type. Our range of these mouth watering and palate pleasing drinks include both fizz
                    and the
                    non-fizz varieties.
                </h3>
            </div>
        </div>
        <div id="pictures">
            <div class="text-center">
                <!--                <div class="picture" style="">
                                    <img class="img-fluid aboutuspic" src="{% static '/img/picturesofthevineyards/image2.jpeg'%}"
                                         alt="">
                <!--                </div>&ndash;&gt;
                                <div class="picture" style=" ">
                                    <img class="img-fluid aboutuspic" src="{% static '/img/picturesofthevineyards/image3.jpeg'%}"
                                         alt="">
                                </div>-->
                <!--                <div class="picture" style="">
                                    <img class="img-fluid aboutuspic" src="{% static '/img/picturesofthevineyards/image1.jpeg'%}"
                                         alt="">
                                </div>
                                <div class="picture" style="">
                                    <img class="img-fluid aboutuspic" src="{% static '/img/picturesofthevineyards/image4.jpeg'%}"
                                         alt="">
                                </div>-->
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>

</section>


{% endblock %}