{% extends "base.html" %}
{% load static %}
{% block body %}


<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="">

            <div class=" text-center">
                <img class="img-fluid logo" src="{% static '/img/logo/logo.png'%}" alt="">

                <h2 class="section-heading ">Rgscot is no longer active and is not selling any products</h2>
            </div>
        </div>

    </div>
    <br/>
    <br/>
    <br/>
    <br/>

</section>


{% endblock %}